---
layout: base.njk
activePage: home
---

<div class="intro">
  <h1>Hermana Barton</h1>
  <h2>Texas Houston South Mission</h2>
  <h2>March 11, 2020 - August 16, 2021</h2>
</div>

<div class="areaContainer homeTilesContainer">
  <div class="areaTiles">
    <a class="areaTile" href="/pages/mtc.html">
      <img src="/images/mtcdropoff.jpg" alt="Provo MTC"/>
      <h2>Provo MTC</h2>
      <p>March 11, 2020 - March 28, 2020</p>
    </a>
    <a class="areaTile" href="/pages/h8.html">
      <img src="/images/onemonth.jpeg" alt="Houston 8"/>
      <h2>Houston 8</h2>
      <p>March 28, 2020 - April 20, 2020</p>
    </a>
    <a class="areaTile" href="/pages/manvel.html">
      <img src="/images/hnaCrookston.jpg" alt="Manvel"/>
      <h2>Manvel</h2>
      <p>April 20, 2020 - July 12, 2020</p>
    </a>
    <a class="areaTile" href="/pages/sealy.html">
      <img src="/images/sealycomps.jpg" alt="Sealy"/>
      <h2>Sealy</h2>
      <p>July 12, 2020 - December 28, 2020</p>
    </a>
    <a class="areaTile" href="/pages/galveston.html">
      <img src="/images/galvy.jpg" alt="Galveston"/>
      <h2>Galveston</h2>
      <p>December 28, 2020 - March 21, 2021</p>
    </a>
    <a class="areaTile" href="/pages/mocity.html">
      <img src="/images/mocity.jpg" alt="Missouri City"/>
      <h2>Missouri City</h2>
      <p>March 21, 2021 - April 12, 2021</p>
    </a>
    <a class="areaTile" href="/pages/jcgm.html">
      <img src="/images/jcgm.jpg" alt="Jones Creek/Grand Mission"/>
      <h2>Jones Creek/Grand Mission</h2>
      <p>April 12, 2021 - July 26, 2021</p>
    </a>
    <a class="areaTile" href="/pages/friendswood.html">
      <img src="/images/friendswood.jpeg" alt="Friendswood"/>
      <h2>Friendswood</h2>
      <p>July 26, 2021 - August 16, 2021</p>
    </a>
  </div>
</div>
