---
layout: week.njk
areaKey: manvel
activePage: manvel
permalink: /pages/manvelWeeks/week17.html
---
<h2>Week 17</h2>
  <hr>
  <div class="container">
    
    <div class="weekContainer">
        <div class="week">
            <div class="weekPart">
                <div class="images">

             <div class="masonry">

                
                <div class="item"><img src="/images/manvel/w171.jpg"></div>
              
                <div class="item"><img src="/images/manvel/w1713.jpg"></div>
                <div class="item"><img src="/images/manvel/w1714.jpg"></div>
              
               
                <div class="item"><img src="/images/manvel/w173.jpg"></div>
              
                <div class="item"><img src="/images/manvel/w175.jpg"></div>
                <div class="item"><img src="/images/manvel/w178.jpg"></div>
             
            </div>
           
             </div>
        </div>
        <div class="weekPart">
                 <div class="email">
                <p>
                    Hello again everyone! Happy July!
                    <br><br>
                    This week was rather uneventful... we called a lot of people who flaked out on us. But for the 4th of July we made our own hamburgers and deviled eggs and keto raspberry cheesecake! It was very yummy! Then we watched fireworks from our porch! It was awesome!
                    <br><br>
                    We're going to have to push back Lesly's baptism. We're still waiting to hear how bad her knee injury is.
                    <br><br>
                    Ivory is progressing quite well! We got him to "church" yesterday and he wants to get baptized! Hopefully his health allows him to get baptized.
                    <br><br>
                    I had Lesson Pass Offs this week and they went well. It was kind stressful since I didn't know that my mission president was literally going to be sitting there listening the entire time... but turns out I need to work on my How to Begin Teaching. My President said I speak Spanish like I've already been here a year!
                    <br><br>
                    We had a stake-wide devotional last night and they announced that in-person church will be starting up soon! There are a million rules but still pretty exciting.
                    <br><br>
                    Love you all
                    <br><br><br>
                    Hermana Barton
                </p>
            </div>
        </div>
            
        
    </div>
    
  </div>
</div>
