---
layout: week.njk
areaKey: galveston
activePage: galveston
permalink: /pages/galvestonWeeks/week44.html
---
<h2>Week 44</h2>
  <hr>
  <div class="container">
    
        <div class="weekContainer">
            <div class="week">
            <div class="weekPart">
                     <div class="email">
                    <p>
                      Buenos dias!

                      <br><br>

                      Today I have 10 months as a missionary! I feel like I'm still a relatively new missionary, but I also feel like I've been a missionary for my entire life. It has gone by pretty fast when I look back on it. It seems like I was in the MTC only a couple months ago, but soon I will hit a year since I left! That will be weird...

                      
                      <br><br>
                      This week went by a lot faster than last week!
                      <br><br>
                      Something awesome that we did this week is that we finally got in contact with this lady named Treasure who previously had a date to be baptized. We taught her the first half of the Plan of Salvation and asked her if she still had desires to be baptized. She said yes! And she said that she wanted to do it this month because it'll be her birthday! So we set a date of January 30th for her to work toward. I told her that she would have to come to church the three Sundays before her baptism in order to be baptized and she said it was good... but she didn't show up to church... and when we went over for the lesson that we scheduled on Sunday she didn't answer the door. And she hasn't answered our texts or calls... So we had to take her off date. Awkward.
                      <br><br>
                      

                      Our friend Julianna is progressing really well! As we have been reading the Book of Mormon with her, she is growing so much in her relationship with Christ and her understanding of how much God loves her. We moved her baptismal date up a week to February 6th!!

                      <br><br>

                      It has been really rainy and cold this week. In fact, the Elders that live in Texas City, who are in our district, their apartment got hit by a tornado!! Their apartment was mostly undamaged, but a lot of the other apartments in their complex had the roofs torn off and ceilings caving and stuff. So right now those elders are living in a hotel until their apartment gets uncondemned...

                      <br><br>

                      We went to Chili's on Thursday for weekly planning and because a member gave us a $25 gift card. I saw some of the news coverage of what happened at the capitol this week. Crazy stuff. I'm glad I'm a missionary right now and don't have to be caught up in it all. 

                      <br><br>

                      We got Kimberly, Julianna, Syd, and Emma to church this week! The talks were about Come, Follow Me so I'm not sure how much they got out of it but they said they enjoyed it. 

                      <br><br>

                      MLC (Mission Leadership Council) was this week so I spent half a day with Sister Stephens again in Clear Lake while our companions went to the meeting. 

                      <br><br>

                      Spiritual Thought:

                      <br><br>

                      Joseph Smith-History 1: 20 
                      <br><br>
                      

                      ...It seems as though the adversary was aware, at a very early period of my life, that I was destined to prove a disturber and an annoyer of his kingdom; else why should the powers of darkness combine against me? Why the opposition and persecution that arose against me, almost in my infancy?

                      <br><br>

                      I really like this part of Joseph Smith History because it is so true that the Devil fought so much against Joseph Smith and the early members of the church in this dispensation. People are still fighting the church now. The opposition from the devil is to me a truthfulness that the Church of Jesus Christ of Latter Day Saints is Christ's only true and living church on the earth. And that's why Satan wants to destroy it. But he won't win!

                      
                      <br><br>
                      Les quiero mucho!

                      <br><br>

                      Love yall!
                      <br><br><br>
                      

                      Hermana Barton
                    </p>
                </div>
            </div>
        </div>
      </div>
  </div>
