---
layout: week.njk
areaKey: friendswood
activePage: friendswood
permalink: /pages/friendswoodWeeks/week74.html
---
<hr>

  <h2>Week 74</h2>
  <hr>
  <div class="container">
    
        <div class="weekContainer">
            <div class="week">
            <div class="weekPart">
                     <div class="email">
                    <p>
                        Buenos dias! Como estan?
                        <br><br>
                        This week...
                        <br><br>
                        Last Monday we went to lunch at this place called JLB Eatery and we got burgers that were bigger than our faces. Then we went to the Buc-ee's in Texas City and I got a few texas things.
                        <br><br>
                        Tuesday we went to help Sister Oliver with a few projects around her house. Turned out that Sister Oliver's mom is Sister Boyett's Grandma's cousin or something like that so they are related! And they've been to the same family lake house lol. We had dinner with our ward mission leader and his family. They are so cute. His 4 year old daughter gave us My Little Pony coloring pages that she colored for us. :)
                        <br><br>
                        My brother Eli (Happy Birthday Eli!!!) got his mission call this week. He is going to the Texas San Antonio Mission!! He will start the MTC in October. I'm so excited that he'll be coming here to Texas! 
                        <br><br>
                        Wednesday we went and visited an elderly lady in our ward and she gave us dark chocolate :) Then we went to this activity with the young women in our stake for emotional resilience. We talked to them how it has been serving a mission and going to college. On the way home my companions were like "We don't want you to go home" and I was like "bruh I don't wanna go home either" And we cried. 
                        <br><br>
                        Thursday we met with the Enright family. Brother Enright works at NASA and he said that if I ever want to work there he would be my connection. So that's an option. 
                        <br><br>
                        Friday we had Atonement of Jesus Christ training in League City. They hyped it up a lot because they said we were going to NASA but we ended up just going to the NASA parking lot... It's a nice parking lot but it doesn't compare to actually going in. rip. They tried to connect the rockets and stuff to the Atonement of Jesus Christ but it didn't connect very well lol. But they fed us Chick fil a. :)
                        <br><br>
                        On Sunday I had to speak in sacrament meeting. I spoke about letting God prevail. I only cried like 2 times. 
                        <br><br>
                        We're having 2 general authorites come visit the mission next week on Monday through Thursday (I'm missing it...) but they moved our P day to Saturday so I get an extra P-day before I go. It will be very convenient. So you'll hear from me one more time.
                        <br><br>
                        Spiritual Thought:
                        <br><br>
                        3 Nephi 13:22-23
                        22 The light of the body is the eye; if, therefore, thine eye be single, thy whole body shall be full of light.
                        23 But if thine eye be evil, thy whole body shall be full of darkness. If, therefore, the light that is in thee be darkness, how great is that darkness!
                        <br><br>
                        We have been talking as a companionship about how real Satan is. If we are inviting Satan in by being prideful or sinning, he will come and it will be bad. But if we are inviting the Holy Ghost by reading our scriptures, praying, going to church, and all the little things, he will come and it will be good. :)
                        
                    </p>
                </div>
            </div>
        </div>
      </div>
  </div>
