---
layout: week.njk
areaKey: friendswood
activePage: friendswood
permalink: /pages/friendswoodWeeks/week73.html
---
<hr>

  <h2>Week 73</h2>
  <hr>
  <div class="container">
    
        <div class="weekContainer">
            <div class="week">
            <div class="weekPart">
                     <div class="email">
                    <p>
                        Buenos dias! Como estan?

                        <br><br>
                        It has been a great week here in the Friendswood 1st ward. Last Monday I spent the day with my new companion Sister Graham in Rosenberg with Sister Tatafu. Then on Tuesday we picked up our brand new missionary from the mission office! Her name is Sister Boyett and she is actually from north Houston, a city called Cypress that is close to the temple. But her family has lived in Saudi Arabia for a while and she is originally assigned to go to Norway! Sister Boyett is amazing and basically already knows everything and we don't even need to train her. She went to Texas A&M and studied Computer Science for a year before the mission! Yay for women in STEM!
                        <br><br>
                        After we picked up Sister Boyett, we drove to our area, carried our stuff up to the apartment, then went to a lesson with an inactive member that just showed up to church last week with her unbaptized children. Her daughter, Delila, is 14 and wants to get baptized!!! It is amazing to have someone who wants to get baptized, especially in this area. Sister Graham told me that there has only been one baptism in this area for the past 6 years. 
                        <br><br>
                        Everyone was pretty surprised, including me, when I got transferred here to Friendswood for the last 3 weeks of my mission, but President Richards told me that one night he woke up with a strong impression that this is where I needed to be. So it's been pretty interesting trying to find out why that is. There have been a lot of little things already that wouldn't have happened if I hadn't been here. I was able to talk to 2 spanish speaking people outside this week, get their numbers, and send them to the spanish speaking missionaries. :)
                        <br><br>
                        We go do service at this place called Trinity Oaks which is an assisted living place for elderly people. We go do Bingo with them twice a week and help the people that can't hear very well. It is so fun and they are so fun to talk to. Sister Graham is really good at playing the piano. She taught herself and she plays by ear. So she plays the piano for all the people at Trinity Oaks and they love it. 
                        <br><br>
                        I learned how to play the ukulele this week in like one night. Sister Graham says I'm a natural. 
                        <br><br>
                        As far as the subject line, one evening this week we were walking around a park trying to talk to people and there was a big American flag on a pole but we were looking at it and there were a bunch of bugs flying around the top of the pole. So we think there was probably a beehive up there or something. But we were looking up and saying "Ew look at all those bugs" and then we kept walking and there was this guy who was jogging around the park and when he went past us he said "Thank you for your patriotism ladies. I saw that!" and we almost couldn't hold in our laughter lol because we were just looking at the bugs. 
                        <br><br>
                        At church this week everyone was really excited to meet the new sister missionaries in the ward. They love their missionaries here. We ate dinner with "Mama Moses" who is the bishop's wife. She loves all the missionaries and has them over every Sunday for dinner. 
                        <br><br>
                        Spiritual Thought:
                        <br><br>
                        D&C 100:4
                        4 Therefore, I, the Lord, have suffered you to come unto this place; for thus it was expedient in me for the salvation of souls.
                        <br><br>
                        I came across this scripture this week and I liked it so much that I put it on my wall. Because why am I here in Friendswood? Why am I here in Houston? Because God placed me here so that I could be an instrument in His hands to bring His children unto Him and unto Christ. He knows me and He knows each of His children. 
                        <br><br>
                        love yall
                        <br><br>
                        les quiero
                        <br><br><br>
                        Hermana Barton
                    </p>
                </div>
            </div>
        </div>
      </div>
  </div>
