<footer>
  <a style="margin-right: auto;" href="https://github.com/lucymbarton/creative-project-1">Github</a>
  <a href="/index.html">Home</a>
  <a href="/pages/mtc.html">MTC</a>
  <a href="/pages/h8.html">Houston 8</a>
  <a href="/pages/manvel.html">Manvel</a>
  <a href="/pages/sealy.html">Sealy</a>
  <a href="/pages/galveston.html">Galveston</a>
  <a href="/pages/mocity.html">Missouri City</a>
  <a href="/pages/jcgm.html">Jones Creek/Grand Mission</a>
  <a href="/pages/friendswood.html">Friendswood</a>
</footer>
