---
layout: week.njk
areaKey: jcgm
activePage: jcgm
permalink: /pages/jcgmWeeks/week63.html
---
<hr>

  <h2>Week 63</h2>
  <hr>
  <div class="container">
    
        <div class="weekContainer">
            <div class="week">
            <div class="weekPart">
                     <div class="email">
                    <p>
                        Buenos d&iacute;as. 
                        <br><br>
                        This week was long. But good. Last Monday we were able to play a game of laser tag, went to In n Out Burger, and then played basketball in the pouring rain (In a covered court that eventually got flooded lol) There was the biggest rainbow after the rain stopped. :) 
                        <br><br>
                        Tuesday we went over to the Hibbert's house again to help paint! I started considering getting the vaccine... My parents had been wary about me getting it because of all the rumors that it may cause infertility. But we did some research and I talked with our mission nurse and with President Guthrie and I decided to get it. Tuesday night there was a tornado watch in our area. Lots of lightning and thunder and wind and rain. It was awesome. We popped some popcorn and sat and watched it lol. 
                        <br><br>
                        Wednesday we had district council. Also we made sweet pork in the crock pot. After district council we went to Walmart so I could get the vaccine. It made me think of when I had just barely come to Houston and my companions would pray for them to be able to find the vaccine for COVID every night. We eventually stopped praying for that and just adjusted to the new circumstances, but God was still working on that. I was kinda nervous to get the shot but it helped that our prophet has encouraged us to get it. I didn't have too many bad side-effects. I felt pretty tired a couple hours after getting the shot and a few days after I was feeling kinda light headed but it all went away after I took a Tylenol and layed down for a while. 
                        <br><br>
                        Also on Wednesday we were able to go visit a member referral named Amy. She has been looking for a new church and a community and some support through some hard things that she is going through. We gave her a Book of Mormon and explained the restoration a little bit. She seemed pretty interested. 
                        <br><br>
                        Thursday we were able to teach our friend Michael and his wife Gail (returning member) with Brother Halda. They were able to attend Princess and Princeton's baptism last week and we asked them what they thought about it. We ended up reading in Moroni chapter 8 about the baptism of little children and then Brother Halda talked about how you need to gain a testimony of Joseph Smith before you can even think about being baptized. It was good for Michael. 
                        <br><br>
                         Friday we had a lesson with Princess and Princeton and talked about the first part of the Plan of Salvation. They remembered a lot from when the sisters taught it a couple months ago. We went out and walked around the neighborhood, but then when we were about a mile from our car it started pouring rain. Good thing we had an umbrella but we still got very wet. We went to Smoothie King to celebrate. 
                         <br><br>
                        Saturday we went out and visited some of our media referrals and some of our formerly taught people. We were able to OYM (Open Your Mouth) 6 new people. So it was  a pretty good day. There was this man in a red truck who, when we waved at him, smiled so big and waved back and even pumped his fist. He had to be a member lol. 
                        <br><br>
                        Sunday we were able to have Michael, Amy, and Joann at church! Amy really enjoyed the service. The talks were about being humble as a little child and being kind. But Amy left really soon after the meeting ended so we didn't really get to introduce her to anyone. When we asked if we could set up another time to meet she said maybe in a couple weeks. So I'll let you know about her. 
                        <br><br>
                        Sunday night we were able to watch the baby blessing of President and Sister Guthrie's daughter, Lucy, on Zoom. It was so precious. I love them and I am going to be very sad when they complete their service as our Mission leaders. 
                        <br><br>
                        Spiritual Thought:
                        3 Nephi 9:21-22
                        <br><br>
                        21 Behold, I have come unto the world to bring redemption unto the world, to save the world from sin.
                        22 Therefore, whoso repenteth and cometh unto me as a little child, him will I receive, for of such is the kingdom of God. Behold, for such I have laid down my life, and have taken it up again; therefore repent, and come unto me ye ends of the earth, and be saved.
                        <br><br>
                        This is Jesus Christ speaking to those in the America's before he appears to them. I think it is a great description of the divine mission of Jesus Christ and His purpose in coming to the earth to teach and to die for us. I love Him and I am grateful for His gospel and the ability that He has given me to change, repent, and be better every day. 
                        <br><br>
                        Love yall
                        <br><br>
                        Les quiero mucho
                    </p>
                </div>
            </div>
        </div>
      </div>
  </div>
