---
layout: week.njk
areaKey: jcgm
activePage: jcgm
permalink: /pages/jcgmWeeks/week67.html
---
<hr>

  <h2>Week 67</h2>
  <hr>
  <div class="container">
    
        <div class="weekContainer">
            <div class="week">
            <div class="weekPart">
                     <div class="email">
                    <p>
                        Buenos dias! Como estan?
                        <br><br>
                        This week we got a new companion! Her name is Hermana Dyer and she is from northern California, about 20 minutes north of Sacramento. We got her on Tuesday because she had surgery on her elbow on Monday! She fractured her elbow when she was out on a jog in her last area and slipped on some mud on the sidewalk. Pretty unfortunate. President told her that she was going to have to go home to get the surgery and recover, but she fought to stay and they let her. She was pretty miserable for a couple days with all the pain, but she's doing a lot better now. Good thing is that she's not allowed to be out walking in the heat so we don't have to do that! :)
                        <br><br>
                        Wednesday I got the second COVID shot. I haven't had any side effects at all. So that's nice. We had a meal and a lesson with the Cluff family and they fed us curry. They have three little girls and they wanted to show us all of their stuffed animals lol.
                        <br><br>
                        Thursday we got to teach our returning member Gail with President Guthrie! It was so good. I love President Guthrie. We were planning on teaching Gail's husband who is not a member but it turned out that he had to work. So we taught Gail a bit about the plan of salvation. It was cool because President Guthrie kept pulling out scriptures and I already knew which ones he was going to use before he said them.
                        <br><br>
                        Also on Thursday we had a lesson and dinner with the Cox family. They gave us some mexican style food. They have 3 little boys and a baby girl. They had a pitcher of water on the table and one of the boys started to lap at the water like a dog while his parents weren't looking. Brother Cox  said "Don't lick the water!! We've talked about this." lol it was so funny.
                        <br><br>
                        Friday we had a lesson with this older widowed lady in our ward. She gave us cupcakes and fruit to snack on while we talked. She bascially told us her entire life story and if I'm going to be honest, I was about to fall asleep lol. My tummy was so full and her house was warm and her couch was so comfy. But she did have a lot of interesting (and concerning) things to share. 
                        <br><br>
                        Saturday we went over to Sister Thrift's apartment to help her finish her quilt. I sewed all the binding on. The quilt is for our bishop's wife who has cancer and is getting surgery today. They had all the relief society sisters sign it for her. 
                        <br><br>
                        Sunday was Father's day! We were able to have 3 people at church. Peter, Syed, and Kelly. Syed was formerly taught by the sisters and we called and invited him to church and he came!
                        <br><br>
                        Peter came to both hours and then he was talking to Brother Moses after Sunday School and Brother Moses calls us over and he's like "Sister Barton, Peter is asking me how he can become a member of our church." So that's pretty awesome but we haven't been able to meet with Peter since he has an iPod touch for a phone and doesn't know his address. But we got his email and we're supposed to meet him at the church this Tuesday. 
                        <br><br>
                        Sunday evening we had dinner and a lesson with the Nunes family. Turns out they actually lived in Herriman for 11 months close to Butterfield park. They fed us yummy chicken pasta and spinach artichoke dip and bread and asparagus. And pie. 
                        <br><br>
                        Spiritual Thought:
                        <br><br>
                        Alma 25:6
                        6 For many of them, after having suffered much loss and so many afflictions, began to be stirred up in remembrance of the words which Aaron and his brethren had preached to them in their land; therefore they began to disbelieve the traditions of their fathers, and to believe in the Lord, and that he gave great power unto the Nephites; and thus there were many of them converted in the wilderness.
                        <br><br>
                        So if you remember, Aaron and his bretheren tried to preach to the Lamanites and they were stoned, spit upon, smitten, and eventually cast in prison and Ammon had to go and deliver them, but in chapter 25 it talks about how the Lamanites were in war and they weren't doing so hot, so then they remembered the things that Aaron had taught them. So just goes to show that we really are planting seeds and that our efforts aren't wasted. 
                        <br><br>
                        Shout out to all of my favorite Fathers for Fathers day yesterday. I'm greatful for my dad, my grandpa Nielsen, Papa, all my cool uncles, President Guthrie, and especially for my Father in Heaven who has given me more than I have ever deserved. 
                        <br><br>
                        les quiero
                        <br><br>
                        love yall
                        <br><br><br>
                        Hermana Barton
                    </p>
                </div>
            </div>
        </div>
      </div>
  </div>
