---
layout: week.njk
areaKey: jcgm
activePage: jcgm
permalink: /pages/jcgmWeeks/week68.html
---
<hr>

  <h2>Week 68</h2>
  <hr>
  <div class="container">
    
        <div class="weekContainer">
            <div class="week">
            <div class="weekPart">
                     <div class="email">
                    <p>
                        Buenos dias! Como estan?
                        <br><br>
                        Well, this week was extremely long. 
                        <br><br>
                        On Tuesday, we had our departing conference with the Guthries! It was so good and so sad. But it wasn't really at all about endings. Basically it's like the Guthries are getting transferred to a different area. President talked about how he's just excited to get a ministering family assigned to them and then do all they can to bless them. 
                        <br><br>
                        President Guthrie also said "Being a mission president is hard. Harder than you can imagine." And he talked about one night when he was just sitting out in the pouring rain and crying because Salt Lake had told him he had to go home. This was like over 2 years ago. So he felt like he had let everybody down because he couldn't handle it. But they gave him a week to see if he could do it. And he's still here. 
                        <br><br>
                        I'm really glad that President Guthrie shared that story with us because it proves to me that even though he's our mission president and seems so excited and motivated, he's just a weak person like all the rest of us. And God uses the weak things of the world to accomplish His purposes. 
                        <br><br>
                        I'm really grateful that I've been able to serve with President and Sister Guthrie. They have taught me so much and have loved me so much. 
                        <br><br>
                        The rest of the week just dragged on. Hermana Dyer got her splint off and now she has a robot arm. Well, she has a brace on her arm. She tried to get scheduled for physical therapy, but then we got a call from our mission nurse and she said that Salt Lake for some reason didn't know that she would need so much physical therapy so she would have to go home to do it. And we were like "Huh??" and we called President Guthrie and eventually everything got worked out and Hermana Dyer is staying!
                        <br><br>
                        We have a friend who is 9 years old named James who is getting baptized! Bishop is hoping to help reactivate his family. We met with James 3 times this week and his family came to church! Yay! He is preparing to be baptized on July 4th!
                        <br><br>
                        On Saturday morning we went to a community yard sale and talked to some people. That was fun and hot!
                        <br><br>
                        Sunday we had 4 hours of church and some other meetings and it was overall very exhausting. But, both of our wards had a topic of the temple and it really made me want to go even more. I think when I finally get to go to the temple again I'll probably cry my eyes out. 
                        <br><br>
                        That's about it for this week. I only have 7 weeks left on my mission. It's weird. I never really thought that it would end. 
                        <br><br>
                        Spiritual thought:
                        <br><br>
                        Alma 43:1
                        1 And now it came to pass that the sons of Alma did go forth among the people, to declare the word unto them. And Alma, also, himself, could not rest, and he also went forth.
                        <br><br>
                        So Alma had already served a mission for like basically his whole life. He came home and he taught his sons a bunch of stuff and told them to go preach the gospel. And then he couldn't stand just sitting around at home so he went out again to preach! I was thinking about this this week, because basically my entire mission I've just been looking forward to going home and watching TV. Just sitting on the couch and snacking and watching TV for hours. But after being so submerged in God's work, I don't know how long I'm going to be able to stand just sitting on the couch and watching TV. (Any of my RM friends want to weigh in on this?) I'll probably get over it and decide to watch a bunch of TV anyways lol. But I know that when President Guthrie finally gets released from being our President, he's not going to be able to stop doing God's work. 
                        <br><br>
                        les quiero
                        <br><br>
                        love yall
                        <br><br><br>
                        Hermana Barton
                    </p>
                </div>
            </div>
        </div>
      </div>
  </div>
