---
layout: week.njk
areaKey: jcgm
activePage: jcgm
permalink: /pages/jcgmWeeks/week71.html
---
<hr>

  <h2>Week 71</h2>
  <hr>
  <div class="container">
    
        <div class="weekContainer">
            <div class="week">
            <div class="weekPart">
                     <div class="email">
                    <p>
                        Buenos dias! Como estan?
                        <br><br>
                         This week was pretty average. not too long. But it rained a lot and we laughed a lot. :)
                         <br><br>
                         Last monday we went to Taco Bell with the district and then we went to Goodwill and hung out at the church.
                         <br><br>
                         Tuesday we were supposed to have 5 lessons but we only had one. But we went and visited two people that one of our relief society presidents wanted us to visit and both of them let us come in and talk to them for a bit!
                         <br><br>
                         Wednesday we knocked doors. Well, we visited some formerly taught people and we're allowed to knock on their neighbor's doors now. So that's what we did and we actually got a few people's numbers!
                         <br><br>
                         Thursday we did weekly planning in the lobby of our apartment complex and they had free hot chocolate. :) Hermana Dyer had physical therapy again so we went to some italian place for dinner and it was not good. But I got a refund. :) We had literally a 2 hour long lesson with Joann and we left feeling really frustated. We're going to stop teaching her. She's not interested in being a member even though she's been going to our church for 2 years.
                         <br><br>
                         Friday we brought cookies to our friend Ora and she said she'll really pray about being baptized now lol.
                         <br><br>
                         Saturday a  lot of things fell through but we helped a family move and we started teaching a new friend named James who is married to a member and he used to be a cop so he had a lot of interesting stories to tell.
                         <br><br>
                         Sunday we decided to only go to one of our sacrament meetings and it was the best decision ever. 2 hours of church is a lot better than 4. We had dinner with the Hibbert family and I laughed so much that I had a headache lol.
                         <br><br>
                         Things are good! I'm really excited to go to the temple this week on Friday. I don't really feel very different knowing that I'll be home in less than a month, but I'm just trying to appreciate every day and do all I can do while I am still here.
                         <br><br>
                         Spiritual Thought:
                         <br><br>
                         2 Nephi 28:30
                         <br><br>
                         30 For behold, thus saith the Lord God: I will give unto the children of men line upon line, precept upon precept, here a little and there a little; and blessed are those who hearken unto my precepts, and lend an ear unto my counsel, for they shall learn wisdom; for unto him that receiveth I will give more; and from them that shall say, We have enough, from them shall be taken away even that which they have.
                         <br><br>
                         I've read this verse a million times but it's taken on a new meaning for me. I think I will print it out and put it on my wall when I make it back to BYU. We literally never stop learning. And if we want to keep learning we just have to keep seeking it. And it'll come little by little. That's the way God works and the way He has always worked.
                         <br><br>
                         Love yall
                         <br><br>
                         les quiero
                        
                    </p>
                </div>
            </div>
        </div>
      </div>
  </div>
