---
layout: base.njk
activePage: aboutMe
permalink: /pages/aboutMe.html
---

<div class="aboutMe">
  <p>I recieved my mission call to the Texas Houston South Mission on December 10, 2019 and entered the Missionary Training Center on March 11, 2020. After 16 days, the MTC was closed due to COVID-19
    and I flew to Houston three weeks earlier than I expected to. My mission was nothing like I expected it to be, but it was exactly what I needed to learn and grow the way that
    God wanted me to. I went through a lot of hard days, weeks, and months on my mission, but I know that I am a lot better, stronger, and have a greater perspective than when I left on my mission.
    On my mission, I was able to teach and serve people in Houston. Some of my favorite experiences were when I was sharing about God's Plan for us with our friends not of our faith.
  </p>
</div>

<div class="socialIcons">
  <a href="https://www.facebook.com/lucy.barton.583/" class="fa fa-facebook"></a>
  <a href="https://twitter.com/swimmerlucy963" class="fa fa-twitter"></a>
  <a href="https://www.instagram.com/lucymbarton/" class="fa fa-instagram"></a>
  <a href="https://www.pinterest.com/swimmerlucy963/" class="fa fa-pinterest"></a>
  <a href="https://www.linkedin.com/in/lucy-b-b3639913a/" class="fa fa-linkedin"></a>
  <a href="https://open.spotify.com/user/12179547625?si=644970126bb84a37" class="fa fa-spotify"></a>
  <a href="#" class="fa fa-venmo"></a>
</div>
