---
layout: area.njk
areaKey: friendswood
activePage: friendswood
permalink: /pages/friendswood.html
scriptPath: /js/geo-api.js
---

<h2>Week 72</h2>
<hr>
<div class="container">
  <div class="weekContainer">
    <div class="week">
      <div class="weekPart">
        <div class="email">
          <p>Buenos dias! Como estan?<br><br>
          This week was great! Monday, Tuesday, and Wednesday were pretty same old, same old.<br><br>
          Thursday we had Lesson Pass Offs for Hermana Murdock. That's when the new missionaries get to go "pass off" their lessons but really they just do a bunch of roleplays and get good feedback. Hermana Murdock did awesome! I love helping at lesson pass offs because when the new missionaries teach you, even though they haven't been here for long, you can feel the spirit and the power of the message. And it's nice :)<br><br>
          Friday I got to go to THE TEMPLE!!! I was able to go with all of the missionaries who are going home today since I'll be going home in the middle of the transfer. It was very fun and amazing and awesome. I loved being able to sit in the celestial room. I felt very close to God. I could feel of His love for me and how proud He is of me for all I've done on my mission and how far I've come. I thought back to the last time I was in the temple, March 11th, 2020, the morning before I entered the MTC, and how much has happend and all that I've learned since then. I love the temple :)<br><br>
          Saturday we got transfer news. I'll be leaving Grand Mission/Jones Creek and heading over to the Friendswood 1st ward. It's still an english area, sadly. But I'll be trio training with Sister Graham for my last three weeks. We have 36 new missionaries coming in today, so there were a lot of changes made this transfer!<br><br>
          Sunday, our guy Peter showed up to church again! We didn't have any way to contact him, so we helped him set up a Facebook account on his iPod touch. When we told him that Hermana Dyer and I were leaving, he asked if he could hug us goodbye. I was like "um no" also we found out that he's 45 years old. And then he kept posting about how he loves me on his facebook. lol.... blocked<br><br>
          Our friend Ora also came to church with us for the first time! She loved it! I'm hopeful that she will get baptized soon!<br><br>
          Spiritual Thought:<br><br>
          Alma 29:10<br><br>
          10 And behold, when I see many of my brethren truly penitent, and coming to the Lord their God, then is my soul filled with joy; then do I remember what the Lord has done for me, yea, even that he hath heard my prayer; yea, then do I remember his merciful arm which he extended towards me.<br><br>
          I love this verse a lot. It is Alma the younger talking about how when he sees other people coming closer to Christ, it reminds him of how merciful Christ has been to him and how He has answered his prayers and blessed him in so many ways. I feel this way too. I know that the Lord has done so much for me and I have nothing that I could give Him that would make up for it. He is merciful and generous and loving.<br><br>
          les quiero!<br><br>
          love yall<br><br><br>
          Hermana Barton</p>
        </div>
      </div>
    </div>
  </div>
</div>
