---
layout: area.njk
areaKey: h8
activePage: h8
permalink: /pages/h8.html
scriptPath: /js/geo-api.js
---

<h2>Week 3</h2>
<hr>
<div class="container">
  <div class="weekContainer">
    <div class="week">
      <div class="weekPart">
        <div class="images">
          <div class="masonry">
            <div class="item"><img src="/images/h8/week31.jpg"></div>
            <div class="item"><img src="/images/h8/week310.jpg"></div>
            <div class="item"><img src="/images/h8/week311.jpg"></div>
            <div class="item"><img src="/images/h8/week312.jpg"></div>
            <div class="item"><img src="/images/h8/week313.jpg"></div>
            <div class="item"><img src="/images/h8/week37.jpg"></div>
            <div class="item"><img src="/images/h8/week38.jpg"></div>
            <div class="item"><img src="/images/h8/week39.jpg"></div>
          </div>
        </div>
      </div>
      <div class="weekPart">
        <div class="email">
          <p>Hola amigos y familia!<br><br>
          I have made it safely to Texas!! I flew out of SLC on Friday afternoon and arrived in Houston around 6 pm Texas time. I spent the night at the mission home and then met my companions the next day! My compa&ntilde;eras son Hermana Rich Y Hermana House. Son simp&aacute;ticos. Hermana Rich is our trainer and Hermana House has been in the field for about a month. She reported to the MTC on January 29th of this month.<br><br>
          My Presidente took my phone for this first week so I can adjust easier. It's not been very difficult. We never leave our apartment except to exercise and get fresh air. I miss the MTC and walking around and socializing. I mostly miss my companion from the MTC. I wish she would have been reassigned to my mission and not the McAllen one.<br><br>
          I will still be having my MTC classes with my same teachers and district, just over Zoom now from my apartment here.<br><br>
          We have had a few lecciones en llamada video en nuestra apartamento. I have been able to share my testimony and a little bit about Joseph Smith. It is especially hard to understand Spanish over the phone.<br><br>
          Im not sure where exactly I am but we are in the Richmond Zone. Somewhere in Houston.<br><br>
          I miss you all and love you all. Plz send emails and memes and pictures of life in Utah.<br><br><br>
          Hermana Barton<br><br>
          Ps. There is so much animal life here! I've already seen like 30 squirrels and some lizards and caterpillars and butterflies and also a roach and spider and mosquito. oh and we heard gunshots from our apartment last night. Apparently that happens pretty often when you dont live a sheltered life in Utah.</p>
        </div>
      </div>
    </div>
  </div>
</div>
