---
layout: area.njk
areaKey: sealy
activePage: sealy
permalink: /pages/sealy.html
scriptPath: /js/geo-api.js
---

<h2>Week 18</h2>
<hr>
<div class="container">
  <div class="weekContainer">
    <div class="week">
      <div class="weekPart">
        <div class="images">
          <div class="masonry">
            <div class="item"><img src="/images/sealy/week181.jpg"></div>
            <div class="item"><img src="/images/sealy/week182.jpg"></div>
            <div class="item"><img src="/images/sealy/week183.jpg"></div>
          </div>
        </div>
      </div>
      <div class="weekPart">
        <div class="email">
          <p>Buenos d&iacute;as a todos!<br><br>
          I got transferred last night! I am now in Sealy with Hermana West. She is very nice and actually 23! She's also taller than me which is weird after spending 3 months with companions shorter than me.<br><br>
          I hit 4 months this week! And I'm officially done with training. I'm a real missionary now.<br><br>
          This week I had my first ever exchanges! They were virtual and Hermana Eliason and I planned our day, did comp study, and taught a lesson with Sister Snitker on Facebook Messenger.<br><br>
          We did some service pulling weeds for a place called Forgotten Angels and then the next day we went to a member's house and helped dump out some potted plants. Our Elders were there too mowing the lawn and Elder Torgerson got a million ant bites after flipping a tire full of dirt that actually turned out to be a really big ant hill!<br><br>
          This week I had a goal to run a whole mile around our pond without stopping and I did it!!! Twice!!! I'm super strong.<br><br>
          We got to go to church on Sunday right before we had to transfer. It was not as scary as I thought it'd be. Only about 15 people were there and we listened to some hymns and got the sacrament and disinfected everything and left. But it was nice to see some members in person before I had to leave them all!<br><br>
          Being here in Sealy is weird and very awkward but I hope I'll get over it soon.<br><br>
          Love you all<br><br><br>
          Hermana Barton</p>
        </div>
      </div>
    </div>
  </div>
</div>

