---
layout: base.njk
activePage: slideshow
permalink: /pages/slideshow.html
scriptPath: /js/slideshow.js
---

<div class="slideshow-container">
  <img class="mySlides" src="/images/b4MTC.jpg" alt="">
  <img class="mySlides" src="/images/presidentandsisterguthrie.jpg" alt="">
  <img class="mySlides" src="/images/onemonth.jpeg" alt="">
  <img class="mySlides" src="/images/hnaCrookston.jpg" alt="">
  <img class="mySlides" src="/images/manvel/w154.jpg" alt="">
  <img class="mySlides" src="/images/manvel/w173.jpg" alt="">
  <img class="mySlides" src="/images/sealy/week211.jpg" alt="">
  <img class="mySlides" src="/images/sealy/week242.jpg" alt="">
  <img class="mySlides" src="/images/sealy/week291.jpg" alt="">
  <img class="mySlides" src="/images/sealy/week303.jpg" alt="">
  <img class="mySlides" src="/images/sealy/week402.jpg" alt="">
  <img class="mySlides" src="/images/galvy.jpg" alt="">
  <img class="mySlides" src="/images/mocity.jpg" alt="">
  <img class="mySlides" src="/images/jcgm.jpg" alt="">
</div>
