---
layout: week.njk
areaKey: h8
activePage: h8
permalink: /pages/h8Weeks/week4.html
---
<h2>Week 4</h2>
  <hr>
  <div class="container">
    
    <div class="weekContainer">
        <div class="week">
            <div class="weekPart">
                <div class="images">

             <div class="masonry">

               
                <div class="item"><img src="/images/h8/week4110.jpg"></div>
      
                <div class="item"><img src="/images/h8/week43.jpg"></div>
                <div class="item"><img src="/images/h8/week44.jpg"></div>
                <div class="item"><img src="/images/h8/week45.jpg"></div>
           
                <div class="item"><img src="/images/h8/week47.jpg"></div>
                <div class="item"><img src="/images/h8/week48.jpg"></div>
                <div class="item"><img src="/images/h8/week49.jpg"></div>
        
            
            </div>
           
             </div>
        </div>
        <div class="weekPart">
                 <div class="email">
                <p>
                    Buenos d&iacute;as amigos y familia!!
                    <br><br>
                    I'm still here in Texas! Still stuck inside all day! Bored out of my mind sometimes but we also teach lessons on video call and try to find people on Facebook and connect more with members. 
                    <br><br>
                    How about General Conference?? It really was unforgettable. I am so happy that we have a modern day prophet and continual revelation. 
                    <br><br>
                    As for the subject line, I never know whether to say my last name in an English or a Spanish accent when we have our lessons. A lady we are teaching asked for my name and I said "Me llamo Hermana Barton" and then she said "Hermana Virgin?" And I was like "yeah" lol. 
                    <br><br>
                    Every morning we wake up and go do exercise in a parking lot across the street. We call it our "gym" I mostly just run a few laps and then do stretches and crunches and jumping jacks. 
                    <br><br>
                    My companions and I are getting to know each other more every day and it's getting funnier to be around them. We went to the Chickfila drive through and got ice cream cones this week! And today I got a burger from Burger King. the first burger I've had in 27 days. 
                    <br><br>
                    Speaking of 27 days, I did the math and I'm already 5% done with my mission! I will only have to do what I just did 19 more times. lol
                    <br><br>
                    The work still presses on. No unhallowed hand can stop the work of the Lord. 
                    <br><br>
                    I miss music and movies and Netflix and this week I've had cravings of going to Disneyland or Lagoon or a Museum or an Aquarium or something. And today we were required to wear masks when we went shopping. I am ready for this covid-19 to be over. 
                    <br><br>
                    My companions are really sweet and they are great cooks! We have been making lots of salads and eating fruits (especially apples with peanut butter). Hermana Rich says she feels great being able to choose what she eats now that members do not feed her every day. 
                    <br><br>
                    I hope everything is going well at home! I miss you all and love you dearly! If you didn't have a chance to listen to conference, I'd highly recommend it!  So many message of hope and peace. And isn't our dear Prophet just so cute? 
                    <br><br>
                    Love
                    <br><br><br>
                    Hermana Barton 

                </p>
            </div>
        </div>
            
        
    </div>
    
  </div>
</div>
