---
layout: week.njk
areaKey: sealy
activePage: sealy
permalink: /pages/sealyWeeks/week24.html
---
<h2>Week 24</h2>
  <hr>
  <div class="container">
    
    <div class="weekContainer">
        <div class="week">
            <div class="weekPart">
                <div class="images">

             <div class="masonry">

                
                <div class="item"><img src="/images/sealy/week241.jpeg"></div>
                <div class="item"><img src="/images/sealy/week242.jpg"></div>
                <div class="item"><img src="/images/sealy/week243.jpg"></div>
               
            
            </div>
           
             </div>
        </div>
        <div class="weekPart">
                 <div class="email">
                <p>
                  Buenos dias!!
                  <br><br>
                   As far as transfers go... Hermana West is going down to Galveston today (right into the middle of not one but two hurricanes) and I will be picking up a new missionary from the mission office tonight! Things will be kinda crazy. I'm not sure yet if my new missionary will be brand new or a reassigned missionary but I'll be senior companion either way.
                   <br><br>
                   We did a lot of service for our members this week.
                   <br><br>
                   First, we went over to this lady's house because she wants us to help her build some more cat houses. Because she has like 30 cats. She and her family are sooo nice but I could not stay in their house very long. It stunk soooooo bad of cat pee. But they gave us a ton of food. As long as I don't think about cat pee it's fine.
                   <br><br>
                   Another day we went to Bishop's house and helped his wife make some cookie dough to hand out to some new move-ins. She used to own a catering business so she really knew what she was doing.
                   <br><br>
                   That same day we went to our ward mission leader's house and helped them plant some corn in their big garden.
                   <br><br>
                   So we're going to get 2 hurricanes this week... Hurricane Marco and Laura. We shouldn't get too much in Sealy but still expecting a lot of rain and we stocked up on water and food.
                   <br><br>
                   We got back in contact with Jessica! She had stopped replying to our messages but she responded on Friday and we went and gave her some cinnamon rolls!
                   <br><br>
                   Last P day we went go-karting with our district and played some volleyball. Super fun.
                   <br><br>
                   Spiritual thought:
                   <br><br>
                   Mosiah 5:13
                   <br><br>
                   13 For how knoweth a man the master whom he has not served, and who is a stranger unto him, and is far from the thoughts and intents of his heart?
                   <br><br>
                   I have really come to know my Savior and my Father in Heaven so much better as I have been out serving. Even though I haven't been able to get out and talk to people like missionaries "normally" do, I've still been able to meet so many people and especially I've been able to draw closer to God.
                   <br><br>
                   In the Come Follow Me last week, I was impressed by how much the chapters told us to "Remember". It is so important to remember our savior Jesus Christ so that we can stay humble and not fall into the pride cycle.
                   <br><br>
                   Love yall
                   <br><br><br>
                   Hermana Barton
                </p>
            </div>
        </div>
            
        
    </div>
    
  </div>
</div>
