---
layout: week.njk
areaKey: sealy
activePage: sealy
permalink: /pages/sealyWeeks/week28.html
---
<h2>Week 28</h2>
  <hr>
  <div class="container">
    
    <div class="weekContainer">
        <div class="week">
            <div class="weekPart">
                <div class="images">

             <div class="masonry">

                
                <div class="item"><img src="/images/sealy/week281.jpg"></div>
                <div class="item"><img src="/images/sealy/week282.jpg"></div>
                <div class="item"><img src="/images/sealy/week283.jpg"></div>
               
            
            </div>
           
             </div>
        </div>
        <div class="weekPart">
                 <div class="email">
                <p>
                  Buenos dias!!
                  <br><br>
                  Another week another Tropical Storm on the way lol.
                  <br><br>
                  Last P day we were able to play pickleball again with the elders in our district. The we went to our Bishop's house to do laundry and we also had a lesson with our recent convert Avainia! (pronounced Aveeena) Sister Ramsey also taught us how to make homemade pizza. 🤤
                  <br><br>
                  On Tuesday a drunk man called me beautiful for the first time. 
                  <br><br>
                  In our District Council this week for our roleplay we pretended to ask someone to be baptized. Also the ZLs brought us Kolaches. It was pretty inspired since that night we taught our new friends Nandy and Karla the Restoration and then asked them to be baptized!!! They accepted!! They said "Ser&iacute;a bonita, si?" They have a date for October 25th!
                  <br><br>
                  On Thursday we were out trying to have a lesson but it fell through so we tried to contact some people and none of that really went very well... But when we went to visit one of the men we contacted on Thursday on Saturday and he wasn't there, we met another family who was actually interested! The mom's name is Sonia and she can't drive since in the country she came from it was just easier to take the bus everywhere. But we taught her and her family The Gospel of Jesus Christ and they really liked it!
                  <br><br>
                  The Elders sometims try to be funny but are sometimes just annoying lol. Elder Myrup and Elder Belnap tried to challege us to a finding competition after they'd already found 6 people in one day lol. The prize was going to be something from Sonic but they brought us some ice cream from Sonic anyways. 
                  <br><br>
                  I got my first Agressive Driving this week from TIWI. TIWI is the device they put in our cars to monitor our driving. We were out in Brookshire and I was trying to make it to the freeway and the road I was on ended and some other guy just drove off into the grass so I figured it was safe and I tried to turn around in the grass but turned out there was like a foot drop-off and we went right off of it... RIP (and that's why they give us the truck)
                  <br><br>
                  On Saturday I ran 2 whole miles without stopping!!!! It was awesome. I just kept telling myself "Pues, estoy bien" and then I ran 2 miles lol.
                  <br><br>
                  We kinda Bible bashed this  person on Facebook Messenger but he didn't believe that the verses we were sending him were actually from the bible... Oh Catholics are confused sometimes.
                  <br><br>
                  Spiritual Thought:
                  <br><br>
                  1 Corinthians 15:19
                  <br><br>
                  19 If in this life only we have hope in Christ, we are of all men most miserable.
                  <br><br>
                  I spotted this verse when we were Bible bashing our friend. He was saying that once we die there is nothing we can do to change or be saved. I am so glad that that is not true! If we only had hope in Christ in this life, we would be so miserable!!! I am so grateful for the knowledge that those who died without the opportunity to hear the Gospel get to hear it in the spirit world!!
                  <br><br>
                  Les quiero mucho
                  <br><br><br>
                  Hermana Barton
                </p>
            </div>
        </div>
            
        
    </div>
    
  </div>
</div>
