---
layout: week.njk
areaKey: sealy
activePage: sealy
permalink: /pages/sealyWeeks/week35.html
---
<h2>Week 35</h2>
  <hr>
  <div class="container">
    
    <div class="weekContainer">
        <div class="week">
            <div class="weekPart">
                <div class="images">

             <div class="masonry">

                
                <div class="item"><img src="/images/sealy/week351.jpeg"></div>
                <div class="item"><img src="/images/sealy/week352.jpg"></div>
                <div class="item"><img src="/images/sealy/week353.jpg"></div>
               
            
            </div>
           
             </div>
        </div>
        <div class="weekPart">
                 <div class="email">
                <p>
                    Buenos d&iacute;as! 
                  <br><br>
                    Last Monday we went to the Zoo!!! It was so fun and one of our members got us in for free!! 👏👏
                    <br><br>
                    Tuesday I had my first exchange where I left my area. It was my first time sleeping away from Sealy since July. The exchange was pretty boring. I was in Grand Mission with Hermana Oveson and Sister Taofi. We were supposed to teach 3 lessons but they all fell through. Sister Taofi didn't have anything else for us to do really so we just like stayed in the apartment all day until Hermana Oveson begged to go to the park. Then we sat in the park for like 2 hours and we called some random numbers. I found a spanish-speaking lady through a random number! Then we talked to some nigerians and met a cute girl named Gift. At the end of the night we rode our bikes over to Gift's house to give her some chicken curry that we made. Hermana Oveson is not an experienced bike-rider. 
                    <br><br>
                    Wednesday was district council! My district is so fun! I had to go to the Orthodontist because I broke my retainers. It was so funny because they kept asking me about what missionaries do and what it is like. It was a great experience and they all got a good impression of the church from me! So sometimes things break for a reason!
                    <br><br>
                    Thursday we went up to Brother Turner's house and he gave us the tour of his art studio. It was awesome. We were supposed to help in the garden but we picked like 3 ears of corn and then Brother Turner just cooked us dinner and told us stories lol. It was pretty nice. 
                    <br><br>
                    Friday we went up to the Turner's again to help an eldery couple the Schore's move out. It didn't take very long. Then Brother Turner cooked us some more food so it was a party! 
                    <br><br>
                    Our most progressing friend right now is named Rachel. She lives with our member friends the Parish's and we go over there at least once a week to help them clean up their house. So we see Rachel a lot. And she came with us to the Zoo. She has a lot of potential to be baptized and she has a lot of support!
                    <br><br>
                    Saturday I made some taco soup! We went out to another trailer park and found some more people to talk to! It was so cool.
                    <br><br>
                    We had church yesterday and a man from the Stake came out and talked about having unity. After church we went over and taught a new move-in, Sister Nelson, with some members. It went really well!
                    <br><br>
                    Spiritual thought:
                    <br><br>
                    Jacob 4:10
                    <br><br>
                    10 Wherefore, brethren, seek not to counsel the Lord, but to take counsel from his hand. For behold, ye yourselves know that he counseleth in wisdom, and in justice, and in great mercy, over all his works.
                    <br><br>
                    I read this this week! I think a lot of times when I pray I just tell God all the things that I want and all the things that I wish would happen but I need to take some time to sit there and listen to what He has to tell to me. I have been learning a lot on my mission about how to recieve personal revelation and how the Holy Ghost speaks to me!
                    <br><br>
                    Que Dios les bendiga
                    <br><br>
                    Que tengan buena semana
                    <br><br><br>
                    Hermana Barton
                    <br><br>
                    les quiero!!!
                </p>
            </div>
        </div>
            
        
    </div>
    
  </div>
</div>
