---
layout: week.njk
areaKey: sealy
activePage: sealy
permalink: /pages/sealyWeeks/week31.html
---
<h2>Week 31
  </h2>
  <hr>
  <div class="container">
    
    <div class="weekContainer">
        <div class="week">
            <div class="weekPart">
                <div class="images">

             <div class="masonry">

                
                <div class="item"><img src="/images/sealy/week311.jpeg"></div>
                <div class="item"><img src="/images/sealy/week312.jpg"></div>
                <div class="item"><img src="/images/sealy/week313.jpg"></div>
               
            
            </div>
           
             </div>
        </div>
        <div class="weekPart">
                 <div class="email">
                <p>
                  Buenos dias!
                  <br><br>
                  This week was... eventful.
                  <br><br>
                  On Monday morning we played some pickleball with Elder Myrup before he got transfered out. Then we played more pickleball with our new District Leader Elder Aluesi once they came back from the mission office. Then we went to this cute little Mexican restaurant and ate good food. 
                  <br><br>
                  After P-day was over we had a noche de hogar con la familia Ibarra y la familia Sanchez. We did a little activity with oreos and milk and how we can soak up the power of God. Afterwards we got in the truck and we were parked on the side of the road and I was able to do a U turn since the road was wide enough and we were driving home and I was talking to Hermana Oveson about what they were saying to her and then we got call and I said "Hello! This is the missionaries!" And they said "This is Hermana Cannefax." And then we realized that we left Hermana Cannefax in the middle of the road! She hadn't gotten in the car in case we needed to back up but we didn't need to and I just left her there... It was really funny lol.
                  <br><br>
                  Tuesday we had a devotional from my favorite guy. BRAD WILCOX :D (I love you Brad!) He talked about the House of Israel.
                  <br><br>
                  Wednesday was district council! I played Choose The Right for the opening song. Elder Satterfield made us chocolate chip pancakes and blueberry pancakes. We love Elder Satterfield. 
                  <br><br>
                  Then we found out that Elder Owens in the office tested positive for COVID-19. Since our elders were there on Monday and a few of them were showing symptoms, we had to stay inside to start our 14 day quarentine... 
                  <br><br>
                  President said quarentine meant that we could still go outside and go shopping in quarentine but we couldn't talk to anyone. Which sucked. Because talking to people outside is how we've been finding so many new people to teach. So we spent the rest of the week adding people on Facebook a calling random numbers and people formerly taught. We did find a few people through this! 
                  <br><br>
                  But yesterday Elder Ketring's test came back and it was negative!!! So we don't actually have to be in quarentine!!! WOOOO so to celebrate we went to a drive-by homecoming for a recently returned Elder in our ward. Only us and Bishop were there. :( and then we went to our trailer park and talked to some drunks and some Catholics!!! It was AMAZING!!!!
                  <br><br>
                  Spiritual thought:
                  <br><br>
                  1 Nephi 17:40
                  <br><br>
                  40 And he loveth those who will have him to be their God. Behold, he loved our fathers, and he covenanted with them, yea, even Abraham, Isaac, and Jacob; and he remembered the covenants which he had made; wherefore, he did bring them out of the land of Egypt.
                  <br><br>
                  I LOVED President Nelson's talk about gathering Israel in conference. I loved all of the promised blessings that he gave if we decide to "Let God Prevail" in our lives. He said that we will be guided to who to date and how, how to help our marriages, answers will come to questions that we have, we'll understand eternal truths, decisions will become easier, issues will become non-issues, and we will see miracles!!! 
                  <br><br>
                  I put a little note up on my desk that says "que Dios prevalezca" which means "let God prevail" in Spanish. I love it. 
                  <br><br>
                  Que tengan una bonita semana :)
                  <br><br>
                  les quiero
                  <br><br><br>
                  Hermana Barton
                </p>
            </div>
        </div>
            
        
    </div>
    
  </div>
</div>
