---
layout: week.njk
areaKey: sealy
activePage: sealy
permalink: /pages/sealyWeeks/week33.html
---
<h2>Week 33</h2>
  <hr>
  <div class="container">
    
    <div class="weekContainer">
        <div class="week">
            <div class="weekPart">
                <div class="images">

             <div class="masonry">

                
                <div class="item"><img src="/images/sealy/week331.jpeg"></div>
                <div class="item"><img src="/images/sealy/week332.jpeg"></div>
                <div class="item"><img src="/images/sealy/week333.jpg"></div>
               
            
            </div>
           
             </div>
        </div>
        <div class="weekPart">
                 <div class="email">
                <p>
                  Buenos d&iacute;as Hermanos y Hermanas
                  <br><br>
                  Monday we went bowling to make up for last p day. Then the ZLS's bishop invited us over to eat pizza and play games in his backyard. Pretty fun day! 
                  <br><br>
                  Tuesday we had a devotional with Sister Mckay who is the wife of someone in our area presidency. She said some really awesome things! I liked especially that she said that the work that we are doing now is not just for now and not just for us. Like even the people who just see us sitting at the park are being effected by us and our example. And our companions and everyone will remember the work that we do for the rest of their lives. So even though I've been kinda frustrated that the work out here in Sealy has been slow, that gives me a little hope. 
                  <br><br>
                  On Wednesday we had district council! Elder Watkins taught us how to play Heart and Soul on the piano. And we did some really funny roleplays. 
                  <br><br>
                  On Thursday I finally got to go to the ear doctor to get the sponge taken out of my ear. My doctor took it out and said "Looks good!!!" And I said "Wow you're so loud!!" It was great to be able to hear again lol.
                  <br><br>
                  Friday was rough. We had a devotional that talked about how to work with members and I was like "dang why don't the members here like us or ever give us referrals??" and I was frustrated and then we went to the park and it was freezing but President wants us to do our studies outside so people can see us. Anyways. We had a good companionship inventory that day. 
                  <br><br>
                  Saturday morning we got to go play some basketball at the park as our "being seen time". 
                  <br><br>
                  I think "Let God Prevail" also means to Let Him Prevail when you can't tell what He is doing. 
                  <br><br>
                  Elder Satterfield gave us cookies and Lasagna cupcakes :)
                  <br><br>
                  Saturday night we went to the Zl's baptism and invited our friend Ruth, but of course she didn't show up until the baptism was already over. But we gave her a church tour and it was really spiritual! We set another time to teach Ruth next Sunday and hopefully that works out for us. She is really kind and full of charity and has a big testimony of the love of God. 
                  <br><br>
                  Sunday the Elders had to speak in church! They did well and even Elder Satterfield's dad was able to get on the Zoom and watch our sacrament meeting. 
                  <br><br>
                  We went to help the ward clean out a hoarder house! It was so disgusting but honestly it was really satisfying and it was great to be able to talk with all of the members! We literally threw out everything but we were supposed to be on the lookout for a ring inside a pill bottle and a passport... but we never found them. There was so much stuff in this lady's house... if you can imagine, the ward has been working on this house all weekend and they've filled up 2 40 foot dumpsters full of stuff and they need to order another one. 
                  <br><br>
                  Spiritual thought:
                  <br><br>
                  2 Nephi 9:18
                  <br><br>
                  18 But, behold, the righteous, the saints of the Holy One of Israel, they who have believed in the Holy One of Israel, they who have endured the crosses of the world, and despised the shame of it, they shall inherit the kingdom of God, which was prepared for them from the foundation of the world, and their joy shall be full forever.
                  <br><br>
                  I have been trying to follow the Prophet's invitation to study the promised blessings of covenant Israel. I love how this verse says that as we endure through this life, even if other people think we're weird or evil or something, we shall inherit the kingdom of God! And our joy will be full forever! 
                  <br><br>
                  Les quiero mucho
                  <br><br><br>
                  Hermana Barton
                </p>
            </div>
        </div>
            
        
    </div>
    
  </div>
</div>
