---
layout: week.njk
areaKey: sealy
activePage: sealy
permalink: /pages/sealyWeeks/week21.html
---
<h2>Week 21</h2>
  <hr>
  <div class="container">
    
    <div class="weekContainer">
        <div class="week">
            <div class="weekPart">
                <div class="images">

             <div class="masonry">

                
                <div class="item"><img src="/images/sealy/week211.jpg"></div>
                <div class="item"><img src="/images/sealy/week212.jpg"></div>
                <div class="item"><img src="/images/sealy/week213.jpg"></div>
               
            
            </div>
           
             </div>
        </div>
        <div class="weekPart">
                 <div class="email">
                <p>
                    Buenos d&iacute;as! 
                    <br><br>
                    This week was crazy and boring. The most exciting part was that on Tuesday we went to the Chiropractor for Hermana West's back! The chiropractor we go to is a member and lets all the missionaries get treatments for free so I got some too! They shocked us with the Tens unit (sp?) And gave us massages and cracked our backs and then we layed on these message tables and they put big inflatable boots on us lol. It was awesome! Afterwards we got Panda Express! 😋
                    <br><br>
                    We also got pulled over on the way there... maybe it's our red truck but the officer said he couldn't find our insurance in his system but after we said we were missionaries he said "oh so would it be a corporation insurance?" And we were like "uh yeah" and he let us go. 
                    <br><br>
                    We taught 19 lessons this week! Most of the lessons were with members. 
                    <br><br>
                    On Saturday we got to go up to our ward mission leader's house and wash these 2 big dogs that are his son's. They were really sweet and fun dogs but also really strong... it got messy lol. 
                    <br><br>
                    Happy August!! How's everyone's summer been?
                    <br><br>
                    Love 
                    <br><br><br>
                    Hermana Barton 
                </p>
            </div>
        </div>
            
        
    </div>
    
  </div>
</div>
