---
layout: week.njk
areaKey: sealy
activePage: sealy
permalink: /pages/sealyWeeks/week39.html
---
<h2>Week 39</h2>
  <hr>
  <div class="container">
    
    <div class="weekContainer">
        <div class="week">
            <div class="weekPart">
                <div class="images">

             <div class="masonry">

                
                <div class="item"><img src="/images/sealy/week391.jpg"></div>
                <div class="item"><img src="/images/sealy/week392.jpg"></div>
                <div class="item"><img src="/images/sealy/week393.jpg"></div>
               
            
            </div>
           
             </div>
        </div>
        <div class="weekPart">
                 <div class="email">
                <p>
                  Buenos Dias!
                  <br><br>
                  Subject line translation: "Where no one has gone before" It's a Star Trek reference that I will explain later.
                  <br><br>
                  Last Monday we went out to the baseball park in Sealy and tried to hit some balls in the batting cages. It was fun, but it was freezing! Elder Belnap gave Elder Ketring a hair cut... It doesn't look as bad as it did when he cut Elder Watkin's hair.
                  <br><br>
                  Tuesday we went over to teach Rachel! We played the board game Sorry and connected it with Faith and Repentance. It went pretty well, but we're not sure how interested Rachel really is in learning. And after we said "amen," Sister Parish got out another game called Goat Lord and made us play it with them. lol
                  <br><br>
                  Wednesday we went over to Bishop's house and helped Sister Ramsey make some cookies for a cookie exchange. Then it started pouring rain! We were supposed to have an appointment with our friend Karla but she wasn't home... Then we taught our friend Jesus with Brother Bolten. Jesus loves to talk about all the ways that he has seen God's hand in his life, but he doesn't really have a lot of knowledge about the Bible, so teaching him the doctrine is a little difficult. We will figure it out eventually.
                  <br><br>
                  Thursday we had a great lesson with our friend Erlinda through Whatsapp with our member friend Hermana Cano! We talked about baptism and confirmation and priesthood blessings. Erlinda wants to get a blessing to help with her mental health, but she's going to El Salvador soon for 40 days! Please don't leave Hermana we want to baptize you!!!
                  <br><br>
                  Thursday evening we drove all the way out to Sheridan! It is 42 miles away and still in our area! I have never driven all the way out there before! (hence the subject line) We went to have lesson with the Geigley family, a family that has been in the Sealy branch/ward since the 1970s! Their house was really cool! They have a pool, a baseball field, a gym, and a hot tub. We shared the Christ Child video with them and they loved it! Their TV was huge and watching the video on it was awesome. We usually just watch it on our phones lol.
                  <br><br>
                  Friday we went to visit the Choc family and share the Christ Child video with them! Brother and Sister Choc met on their mission in Peru, and Brother Choc's family lives in Guatemala. They speak only Spanish at home so their kids speak Spanish! And their kids are so cute! It was so fun to visit them. 
                  <br><br>
                  Saturday we went to help the Parish family decorate this ancient house that their family owns. It's called the "Hill House" and it has been out in San Felipe since the 1800s. It needs some work, ivy is growing through the walls and the ceiling has a lot of water damage, but it was still pretty cool. Their family does holidays there every year. 
                  <br><br>
                  Saturday we also got to meet with our friend Ruth at Denny's! We had a really great discussion about the Plan of Salvation and ate some dessert. 
                  <br><br>
                  Sunday we got Ruth and Cedra to church! Our new Ward Mission Leader spoke, and Cedra was falling asleep the whole time lol.
                  <br><br>
                  I loved the Christmas Devotional!! My favorite part was Elder Neilsen talking about how his dad was able to find Christ during the war. I think that it is really during the hard times is when we are able to find Christ.
                  <br><br>
                  Spiritual thought:
                  <br><br>
                  3 Nephi 18:32
                   32 Nevertheless, ye shall not cast him out of your synagogues, or your places of worship, for unto such shall ye continue to minister; for ye know not but what they will return and repent, and come unto me with full purpose of heart, and I shall heal them; and ye shall be the means of bringing salvation unto them.
                   <br><br>
                  I really like this scripture because sometimes our friends and family may stop going to church or lose a bit of their faith, but we should still continue to minister to them. Because God is a God of miracles and He is still working in their lives. Some day they will be able to see His hand again, and be healed, and maybe we can help in that!
                  <br><br>
                  Love yall!
                  <br><br>
                  Les quiero mucho!
                  <br><br><br>
                  Hermana Barton
                </p>
            </div>
        </div>
            
        
    </div>
    
  </div>
</div>
