---
layout: week.njk
areaKey: sealy
activePage: sealy
permalink: /pages/sealyWeeks/week34.html
---
<h2>Week 34</h2>
  <hr>
  <div class="container">
    
    <div class="weekContainer">
        <div class="week">
            <div class="weekPart">
                <div class="images">

             <div class="masonry">

                
                <div class="item"><img src="/images/sealy/week341.jpg"></div>
                <div class="item"><img src="/images/sealy/week342.jpg"></div>
                <div class="item"><img src="/images/sealy/week343.jpg"></div>
               
            
            </div>
           
             </div>
        </div>
        <div class="weekPart">
                 <div class="email">
                <p>
                  Buenos d&iacute;as!!
                  <br><br>
                   Happy Halloween! Happy November!
                   <br><br>
                   Last P day we carved pumpkins and went out to lunch with our district! Then we played some basketball! I made two baskets!
                   <br><br>
                   We had family home evening with the Sanchez and Ibarra family again. We talked about how we can be one and be kind to everyone by trying to be like Christ.
                   <br><br>
                   Tuesday we had Zone Conference! We did it virtually but we got to watch it at the church with our district so that made it more fun! We talked about working with members and how to prepare people for baptism and confirmation.
                   <br><br>
                   Wednesday we went and taught Juan's wife Enriqueta with Brother Ibarra. She didn't say much in our lesson. Brother Ibarra said she just doesn't have much knowledge about the bible so that's why she wasn't really interested. Oof.
                   <br><br>
                   Friday we went and helped our bishop's wife decorate for Halloween! Then that night we went to the Parish's and our friend Rachel was there. She said "My mom said if I decide to become Mormon that I have to tell her first." Lol
                   <br><br>
                   Saturday was Halloween! We had to be inside by 7pm but we went and dropped off some candy to some of our peeps.
                   <br><br>
                   Sunday I had to speak in church! I spoke about some Book of Mormon verses that have changed my life. Mosiah 7:33 and Mosiah 4:9.
                   <br><br>
                   33 But if ye will turn to the Lord with full purpose of heart, and put your trust in him, and serve him with all diligence of mind, if ye do this, he will, according to his own will and pleasure, deliver you out of bondage.
                   <br><br>
                   9 Believe in God; believe that he is, and that he created all things, both in heaven and in earth; believe that he has all wisdom, and all power, both in heaven and in earth; believe that man doth not comprehend all the things which the Lord can comprehend.
                   <br><br>
                   I love Heavenly Father and I love Jesus Christ. The more I learn about them, the more hope I have for my future.
                   <br><br>
                   Favorite talk of the week:
                   “Come, Follow Me”
                   <br><br>
                   <a href='https://www.churchofjesuschrist.org/study/general-conference/2019/04/46nelson?lang=eng'>https://www.churchofjesuschrist.org/study/general-conference/2019/04/46nelson?lang=eng</a>
                   <br><br>
                   Que tengan una buena semana
                   <br><br><br>
                   Hermana Barton
                </p>
            </div>
        </div>
            
        
    </div>
    
  </div>
</div>
