---
layout: week.njk
areaKey: sealy
activePage: sealy
permalink: /pages/sealyWeeks/week40.html
---
<h2>Week 40</h2>
  <hr>
  <div class="container">
    
    <div class="weekContainer">
        <div class="week">
            <div class="weekPart">
                <div class="images">

             <div class="masonry">

                
                <div class="item"><img src="/images/sealy/week401.jpeg"></div>
                <div class="item"><img src="/images/sealy/week402.jpg"></div>
                <div class="item"><img src="/images/sealy/week403.jpg"></div>
                <div class="item"><img src="/images/sealy/week404.jpg"></div>
            
            </div>
           
             </div>
        </div>
        <div class="weekPart">
                 <div class="email">
                <p>
                  Buenos d&iacute;as! 
                  <br><br>
                  This week was so weird but still good!
                  <br><br>
                  Last P day was chickfila and spike ball! Then we went to share a message with the Bays and help them put up Christmas lights! Then they took us out to eat at Ernesto's Mexican restaurant.
                  <br><br>
                  Tuesday we had some great lessons! Wednesday too. We went to our bishop's house again to help decorate and so Sister Burton could teach us a lesson for her BYU pathways class. They got us philly cheese steak :) 
                  <br><br>
                  Thursday was sooo fun!! We had Christmas conference! It was awesome. We had a lot of speakers talking about Christ! There was a room full of a bunch of different nativities, a room with a bunch of paintings of Jesus, and some movies that we watched. We got BBQ for lunch and we had a talent show! I sang a song. Video to be included.
                  <br><br>
                  Friday we had exchanges! I was with Sister Lewis. I had a great time! We taught a lady named Joann and we talked on the phone with a guy named Kelly who is a member's friend that's interested in family history! We also walked over to Kroger and got stuff to make cupcakes for one of the people that they are teaching. I hit 9 months as a missionary on Friday! I got sushi from Kroger to celebrate. Yummy :)
                  <br><br>
                  Saturday was slow. We helped the Valdez family move. We put their basketball hoop in the back of our truck and drove it realllllyyy slowly to another ward member's house in the neighborhood. It was funny.
                  <br><br>
                  Sunday we taught the Accinelli's about Come Follow Me and we shared the Christ Child video with the Smith's, a new couple in our ward who have the cutest daughter named Birdie!
                  <br><br>
                  Spiritual thought
                  <br><br>
                  Ether 12:8-9
                  8 But because of the faith of men he has shown himself unto the world, and glorified the name of the Father, and prepared a way that thereby others might be partakers of the heavenly gift, that they might hope for those things which they have not seen.
                  9 Wherefore, ye may also have hope, and be partakers of the gift, if ye will but have faith.
                  <br><br>
                  I invite you all to take some time and ponder on all of the heavenly gifts that our Heavenly Father has given us! And you can watch this way cool video :)
                  <br><br>
                  https://www.comeuntochrist.org/light-the-world-2020/the-christ-child
                  <br><br>
                  Les quiero
                  <br><br>
                  Love y'all 
                  <br><br><br>
                  Hermana Barton 
                </p>
            </div>
        </div>
            
        
    </div>
    
  </div>
</div>
