---
layout: week.njk
areaKey: sealy
activePage: sealy
permalink: /pages/sealyWeeks/week30.html
---
<h2>Week 30</h2>
  <hr>
  <div class="container">
    
    <div class="weekContainer">
        <div class="week">
            <div class="weekPart">
                <div class="images">

             <div class="masonry">

                
                <div class="item"><img src="/images/sealy/week301.jpeg"></div>
                <div class="item"><img src="/images/sealy/week302.jpg"></div>
                <div class="item"><img src="/images/sealy/week303.jpg"></div>
               
            
            </div>
           
             </div>
        </div>
        <div class="weekPart">
                 <div class="email">
                <p>
                  Buenas tardes!
                  <br><br>
                   This week seemed soo long!
                   <br><br>
                   On tuesday we went and picked up our new companion Hermana Oveson! She  is from Nephi, Utah in the middle of nowhere. She feels at home here  in Sealt. She was supposed to come out when I came out but she was  sent home in March from the MTC because she had diabetes. She is so  cute and so ready to learn and be a missionary!!
                   <br><br>
                   We had my first exchanges this week. I had to wake up at 5:45 two days  in a row and drive all the way to Richmond to switch companions.  Hermana Oveson and I spent the day with Sister Lewis. We found a lady  named Vanessa and I talked to her even without Hermana Cannefax.
                   <br><br>
                   We went to the Bay's house and they gave us jalepeno poppers with duck  wrapped in bacon. And they made kabobs with ram. It was good.
                   <br><br>
                   Conference was awesome!!!!
                   <br><br>
                   Spiritual thought
                   <br><br>
                   Moroni 10:34
                   <br><br>
                   34 And now I bid unto all, farewell. I soon go to rest in the paradise  of God, until my spirit and body shall again reunite, and I am brought  forth triumphant through the air, to meet you before the pleasing bar  of the great Jehovah, the Eternal Judge of both quick and dead. Amen.
                   <br><br>
                   I finished the Book of Mormon again yesterday. I think the last verse  is just awesome.
                   <br><br>
                   Love y'all
                   <br><br><br>
                   Hermana Barton
                  
                </p>
            </div>
        </div>
            
        
    </div>
    
  </div>
</div>
