---
layout: week.njk
areaKey: mocity
activePage: mocity
permalink: /pages/mocityWeeks/week57.html
---
<br><br>
  
    <hr>

  <h2>Week 57</h2>
  <hr>
  <div class="container">
    
        <div class="weekContainer">
            <div class="week">
            <div class="weekPart">
                     <div class="email">
                    <p>
                      Buenos d&iacute;as! 
                      <br><br>
                      It was another relatively slow week in Missouri City. Although I got news last night that I'm going to be ET'd (Emergency Transferred) back to the Jones Creek/Grand Mission area. Apparently the Hermanas there could not get along. 😬 I'm fine with going back there, I liked it while I was there, but Hermana Crandall goes home in 3 weeks so I'm going to have to take over the area and I'll likely be there for the rest of my mission. And it's an English area. I absolutely love speaking Spanish so going to an English area hurts. But President Guthrie said he's going to buy some English name tags for me and that he feels like I'll be able to help the area a lot. So it'll be a new adventure, even though it will be hard. 
                      <br><br>
                      We actually got to teach some people in person today. We met with a lady Beatrice outside her house and we found a new lady to teach named Maria and she was formerly taught and when we went over to visit her she welcomed us right in and listened to a message! 
                      <br><br>
                      I went on exchanges with Sister Lee and Sister Lafleur in Sienna Plantation and we taught a lady they are teaching named Sam and her less active boyfriend. They had a lot of questions about eternal families and the spirit world and it was really fun to answer them. I hope they get married soon so that Sam can get baptized! 
                      <br><br>
                      We went to church on Sunday and it was great! I love Hispanic people, they are so faithful. And I love being able to understand them. I will miss Spanish church and the members. 
                      <br><br>
                      I think that's about it for this week. 
                      <br><br>
                      Spritual Thought:
                      <br><br>
                      Mormon 5:23
                      <br><br>
                      23 Know ye not that ye are in the hands of God? Know ye not that he hath all power, and at his great command the earth shall be rolled together as a scroll?
                      <br><br>
                      I testify that we are all in the hands of God. He is with us. He is among us. He has all power and we can access that power as we try every day to Hear Him and follow Him. I trust Him. 
                      <br><br>
                      Que Dios Prevalezca
                      <br><br>
                      Love yall
                      <br><br>
                      Les quiero
                      <br><br><br>
                      Hermana Barton
                      <br><br>
                      Ps a lady that I taught in Sealy, Ruth, got baptized on Saturday and I was able to watch through Zoom! It was so beautiful. When she came up out of the water she said "Thank you!! Thank you!!" 
                      <br><br>
                      Pps. Hermana Tea got me Krispy Kreme for my 13 months!
                    </p>
                </div>
            </div>
        </div>
      </div>
  </div>
